.mitades{
    padding: 70px 6vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroIzq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heroIzq > h4{
    font-size: 2rem;
    color: var(--negro);
    font-weight: 400;
}

.heroIzq > h1{
    font-size: 4rem;
    font-weight: 500;
    color: var(--negro);
}

.heroIzq span{
    color: var(--azul);
    font-weight: 700;
}

.heroIzq > p{
    font-size: 1.8rem;
    color: var(--negro);
    font-weight: 400;
    max-width: 60%;
    line-height: 40px;
}

.botones{
    display: flex;
    gap: 3%;
}

.botones button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7rem;
    width: 250px;
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--azul);
    cursor: pointer;
}

.btnHire{
    background-color: var(--azul);
}

.btnHire > a{
    color: var(--grisClaro);
}

.btnPortfolio{
    background-color: transparent;
}

.btnPortfolio > a {
    color: var(--azul);
}

.botones a{
    text-decoration: none;
}

.heroDer{
    padding-right: 8%;
}

.heroDer img{
    width: 110%;
}

.logros{
    display: flex;
    justify-content: center;
    background-color: var(--celesteClaro);
    padding: 20px 0;
}

.divLogros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

.clienComp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.proyComp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.satisComp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.logros i{
    font-size: 7rem;
    color: var(--azul);
}   

.logros p{
    font-size: 2.6rem;
    color: var(--negro);
    margin-left: 15px;
}

.logros span{
    font-size: 5rem;
    color: var(--azul);
}

@media (max-width: 1280px){
    .mitades{
        padding: 40px 6vw 0;
    }
    .heroIzq > h4{
        font-size: 1.5rem;
    }
    .heroIzq > h1{
        font-size: 3rem;
    }
    .heroIzq > p{
        font-size: 1.5rem;
        line-height: 35px;
    }
    .botones button{
        font-size: 1.5rem;
        width: 200px;
        padding: 1rem;
    }

    .logros{
        padding: 10px 0;
    }
    .logros i{
        font-size: 5rem;
    }   
    .logros p{
        font-size: 2rem;
    }
    .logros span{
        font-size: 3rem;
    }
}

@media (max-width: 768px){
    .heroDer{
        display: none;
    }
    .mitades{
        background: linear-gradient(rgb(250,250,250, 0.4), rgb(226,241,251,1)), url(../../../assets/heroPerson.png);
        background-size: cover;
        background-position: top;
        padding-bottom: 40px;
    }
    .botones{
        align-self: center;
    }
    .proyComp{
        display: none;
    }
    .spanComp2{
        display: none;
    }
    .logros i{
        font-size: 4rem;
    }   
    .logros p{
        font-size: 1.5rem;
    }
    .logros span{
        font-size: 3rem;
    }
}

@media (max-width: 480px){
    .mitades{
        padding-bottom: 20px;
    }
    .heroIzq > p{
        font-size: 1.3rem;
        max-width: 80%;
        line-height: 30px;
    }
    .botones button{
        font-size: 1.3rem;
        width: 150px;
        padding: .6rem;
    }
    .logros i{
        font-size: 2.5rem;
    }
    .logros p{
        font-size: 1.2rem;
    }
    .logros span{
        font-size: 2rem;
    }
}