.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6vw;
    position: sticky;
    top: 0;
    background-color: var(--grisClaro);    
}

.navBar{
    display: flex;
    gap: 4vw;
}

.navBar > a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--negro);
 /*    position: relative; */
}

.navBar span{
    padding-bottom: 4px;
}

.navBar > a:hover{
    color: var(--azul);
    
}

.navBar > a:hover span{
    border-bottom-width: 3px;
	border-bottom-style: solid;
}

.hamburguesa{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.cruz{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.cruz:hover{
    animation-name: giraCruz;
    animation-duration: .4s;
}

.hamburguesa:hover{
    animation-name: giraHamb;
    animation-duration: .4s;
}

@keyframes giraCruz {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes giraHamb {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 1280px){
    .header > img{
        width: 22%;
    }
    .header{
        padding: 1.2rem 6vw;
    }
    .navBar{
        gap: 3vw;
    }
    .navBar > a{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .navBar{
        position: absolute;
        top: 74px;
        right: 0;
        flex-direction: column;
        transition: 0.3s ease all;
        gap: 40px;
        background: linear-gradient(rgb(250,250,250, 0.8), rgb(226,241,251,0.9));
        padding: 3rem;
        border-radius: 0px 0px 0px 20px;
        transform: translateY(-1000px);
    }
    .navBar.open{
        transform: translateY(0px);
    }
    .navBar > a{
        font-size: 1.5rem;
    }
    .hamburguesa{
        display: block;
    }
    .cruz{
        display: block;
    }        
}

@media (max-width: 480px){
    .header > img{
        width: 40%;
    }
}