.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6vw;
    position: sticky;
    top: 0;
    background-color: var(--grisClaro);
    z-index: 1;
}

.navBar{
    display: flex;
    gap: 4vw;
}

.enlaces{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--negro);
    transition: 0.5s linear all;
}

.enlaces::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 30%;
    height: 3px;
    width: 30px;
    background-color: var(--azul);
    transform: scale(0,1);
    transform-origin: left;
    transition: transform .25s;
    border-radius: 50px;
}

.enlaces:hover::after{
    transform: scale(1,1);
}

.enlaces:hover{
    color: var(--azul);
    transition: 0.1s linear all;
}

.hamburguesa{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.cruz{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.cruz:hover{
    animation-name: giraCruz;
    animation-duration: .4s;
}

.hamburguesa:hover{
    animation-name: giraHamb;
    animation-duration: .4s;
}

@keyframes giraCruz {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes giraHamb {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 1280px){
    .header > img{
        width: 22%;
    }
    .header{
        padding: 1.2rem 6vw;
    }
    .navBar{
        gap: 3vw;
    }
    .navBar > a{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .navBar{
        position: fixed;
        top: 74px;
        right: 0;
        flex-direction: column;
        transition: 0.3s ease all;
        gap: 40px;
        background: linear-gradient(rgb(250,250,250, 0.8), rgb(226,241,251,0.9));
        padding: 3rem;
        border-radius: 0px 0px 0px 20px;
        transform: translateX(100%);
    }
    .navBar.open{
        transform: translateX(0);
    }
    .navBar > a{
        font-size: 1.5rem;
    }
    .hamburguesa{
        display: block;
    }
    .cruz{
        display: block;
    }
    .enlaces::after{
        display: none;
    }
}

@media (max-width: 480px){
    .header > img{
        width: 40%;
    }
}