*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --celesteClaro: rgb(226,241,251);
  --celesteOscuro: rgb(201,231,251);
  --azul: rgb(6,157,255);
  --grisClaro: rgb(250,250,250);
  --grisOscuro: rgb(139,139,140);
  --negro: rgb(44,42,42);
  --amarillo: rgb(250,203,13);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--grisClaro);
}

